* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: sans-serif;
   height: 100vh;
   display: flex;
   justify-content: center;
   padding: 2rem 0;
}

#root {
   width: 90%;
}

.table_container {
   margin: 0.3rem 0 1rem;
   overflow-x: auto;
}

.table {
   border-collapse: collapse;
   min-width: 400px;
   width: 100%;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
   border: 1px solid #ccc;
   font-size: 0.875rem;
}
.table thead {
   background-color: #6c7ae0;
   color: #fff;
   text-align: left;
}
.table th,
.table td {
   padding: 0.4rem 0.7rem 0.4rem;
   border-bottom: 1px solid #98a0e0;
}
.table th:first-child {
   position: sticky;
   left: 0;
   background-color: #6c7ae0;
}
.table tr:nth-of-type(even) {
   background-color: #f8f6ff;
}
.table tbody tr:hover td {
   background-color: #d9d2f1;
}
.table td:first-child {
   position: sticky;
   left: 0;
   background: #6c7ae0 !important;
   color: #fff;
   font-weight: bold;
}
.table td:nth-child(2n + 1) {
   border-right: 1px solid #98a0e0;
}
.table th:nth-child(2n + 1) {
   border-right: 1px solid #98a0e0;
}
.table .metric {
   background-color: #dde0f9 !important;
}

.control {
   border: 1px solid #ccc;
   border-bottom: 2px solid #ccc;
   border-radius: 5px;
   padding: 0.5rem 0.7rem;
   outline: none;
   transition: border 0.2s;
}
.control:focus {
   border-color: #6c7ae0;
}

.page_title {
   text-align: right;
   font-size: 0.9rem;
}

.pagination {
   display: flex;
   justify-content: space-evenly;
}

.btn {
   padding: 0.5rem 1rem;
   background-color: #6c7ae0;
   border: none;
   border-radius: 5px;
   color: #fff;
   transition: background 0.2s;
}
.btn:hover {
   background-color: #394395;
}
